[submodule "LW-Game-Engine/vendor/spdlog"]
	path = LW-Game-Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LW-Game-Engine/vendor/GLFW"]
	path = LW-Game-Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "LW-Game-Engine/vendor/imgui"]
	path = LW-Game-Engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "LW-Game-Engine/vendor/glm"]
	path = LW-Game-Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "LW-Game-Engine/vendor/yaml-cpp"]
	path = LW-Game-Engine/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "LW-Game-Engine/vendor/ImGuizmo"]
	path = LW-Game-Engine/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
