[submodule "LW-Game-Engine/vendor/spdlog"]
	path = LW-Game-Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LW-Game-Engine/vendor/GLFW"]
	path = LW-Game-Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
